.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 108px;
  padding-right: 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  height: 21px;
  width: 116px;
  display: flex;
  padding-left: 80px;
}

.footer__social-heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__list {
  list-style: none;
  margin: 20px 0 0 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__copyright {
  color: #fff;
  padding-bottom: 60px;
  padding-left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
